{% extends 'base.html.twig' %}

{% block body %}

    {% for message in app.flashes('success') %}
        <div class="rounded-md bg-green-50 p-4">
            <div class="flex">
                <div class="flex-shrink-0">
                    <svg class="h-5 w-5 text-green-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                    </svg>
                </div>
                <div class="ml-3">
                    <h3 class="text-sm font-medium text-green-800">{{ message }}</h3>
                </div>
            </div>
        </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="rounded-md bg-red-50 p-4">
            <div class="flex">
                <div class="flex-shrink-0">
                    <svg class="h-5 w-5 text-red-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.28 7.22a.75.75 0 00-1.06 1.06L8.94 10l-1.72 1.72a.75.75 0 101.06 1.06L10 11.06l1.72 1.72a.75.75 0 101.06-1.06L11.06 10l1.72-1.72a.75.75 0 00-1.06-1.06L10 8.94 8.28 7.22z" clip-rule="evenodd" />
                    </svg>
                </div>
                <div class="ml-3">
                    <h3 class="text-sm font-medium text-red-800">{{ message }}</h3>
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="bg-white">
        <main class="isolate">

            <div class="text-center">
                <img src="{{ asset('images/drawn-elephpant.png') }}" class="mx-auto mt-20 w-1/2 lg:w-1/5" alt="Sylius elePHPant"/>
            </div>

            <!-- Hero section -->
            <div class="relative pt-3">
                <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
                    <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#30B99D] to-[#30B99D] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
                </div>
                <div class="py-10">
                    <div class="mx-auto max-w-7xl px-6 lg:px-8">
                        <div class="mx-auto max-w-2xl text-center">
                            <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Get your very own Sylius elePHPant!</h1>

                            {% include "component/countdown.html.twig" %}
                        </div>

                        <!-- Logo cloud -->
                        <div class="mx-auto max-w-7xl px-6 lg:px-8 mt-20">
                            <h1 class="mt-4 text-3xl font-bold tracking-tight text-slate-500 sm:text-5xl text-center">Brought to you by</h1>
                            <div class="flex flex-cols-2 lg:w-2/3 sm:w-full mx-auto mt-10 gap-3">
                                <img class="w-1/2 mt-2" src="https://monsieurbiz.com/logo.svg" alt="Monsieur Biz">
                                <img class="w-1/2" src="{{ asset('images/sylius.svg') }}" alt="Sylius">
                            </div>
                        </div>
                        <div class="mt-12 flow-root">


                            <!-- Form -->
                            <div class="bg-white py-10">
                                <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
                                    <div class="relative isolate overflow-hidden bg-gray-900 px-6 py-24 shadow-2xl rounded-3xl sm:px-24 xl:py-32">
                                        <h2 class="mx-auto max-w-2xl text-center text-3xl font-bold tracking-tight text-white sm:text-4xl">Get notified for the crowdfunding!</h2>
                                        <p class="mx-auto mt-2 max-w-xl text-center text-lg leading-8 text-gray-300">When we'll launch the Crowdfunding on Kickstarter you'll receive an email about it!</p>
                                        {{ form_start(form, {'method': 'POST', 'attr': {'class': 'mx-auto mt-10 flex max-w-md gap-x-4'}}) }}
                                            {{ form_errors(form) }}
                                            <input type="hidden" name="_token" value="{{ csrf_token('registration') }}">
                                            <label for="email-address" class="sr-only">Email address</label>
                                            <input
                                                name="{{ field_name(form.emailAddress) }}"
                                                value="{{ field_value(form.emailAddress) }}"
                                                class="min-w-0 flex-auto rounded-md border-0 bg-white/5 px-3.5 py-2 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-white sm:text-sm sm:leading-6"
                                                placeholder="Enter your email"
                                                required
                                                type="email"
                                            >
                                            {{ form_errors(form.emailAddress) }}
                                            <button type="submit" class="flex-none rounded-md bg-white px-3.5 py-2.5 text-sm font-semibold text-gray-900 shadow-sm hover:bg-gray-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white">Notify me</button>
                                        {{ form_end(form) }}
                                        <svg viewBox="0 0 1024 1024" class="absolute left-1/2 top-1/2 -z-10 h-[64rem] w-[64rem] -translate-x-1/2" aria-hidden="true">
                                            <circle cx="512" cy="512" r="512" fill="url(#759c1415-0410-454c-8f7c-9a820de03641)" fill-opacity="0.7" />
                                            <defs>
                                                <radialGradient id="759c1415-0410-454c-8f7c-9a820de03641" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(512 512) rotate(90) scale(512)">
                                                    <stop stop-color="#7775D6" />
                                                    <stop offset="1" stop-color="#E935C1" stop-opacity="0" />
                                                </radialGradient>
                                            </defs>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
                                <img src="{{ asset('images/main-photo-cropped.jpg') }}" alt="Some elePHPant with Sylius elePHPant" class="rounded-3xl shadow-2xl ring-1 ring-gray-900/10">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Feature section -->
            <div class="mx-auto max-w-7xl px-6 lg:px-8 lg:mt-8">
                <div class="mx-auto max-w-2xl lg:text-center">
                    <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">The timeline of your small friend being home</p>
                </div>

                <!-- Timeline -->
                <div class="flex justify-center my-10">
                    <nav aria-label="Progress">
                        <ol role="list" class="overflow-hidden">
                            <li class="relative pb-10">
                                <div class="absolute left-4 top-4 -ml-px mt-0.5 h-full w-0.5 bg-indigo-600"
                                     aria-hidden="true"></div>
                                <!-- Complete Step -->
                                <div class="group relative flex items-start">
                                    <span class="flex h-9 items-center">
                                      <span class="relative z-10 flex h-8 w-8 items-center justify-center rounded-full bg-indigo-600 group-hover:bg-indigo-800">
                                        <svg class="h-5 w-5 text-white" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                          <path fill-rule="evenodd"
                                                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                                                clip-rule="evenodd"/>
                                        </svg>
                                      </span>
                                    </span>
                                    <span class="ml-4 flex min-w-0 flex-col">
                                      <span class="text-sm font-medium">Create the prototype with Vincent Pontier and the Factory</span>
                                      <span class="text-sm text-gray-500">The prototype has been made in 2020 already. We received it in june 2020.</span>
                                    </span>
                                </div>
                            </li>
                            <li class="relative pb-10">
                                <div class="absolute left-4 top-4 -ml-px mt-0.5 h-full w-0.5 bg-indigo-600"
                                     aria-hidden="true"></div>
                                <!-- Complete Step -->
                                <div class="group relative flex items-start">
                                    <span class="flex h-9 items-center">
                                      <span class="relative z-10 flex h-8 w-8 items-center justify-center rounded-full bg-indigo-600 group-hover:bg-indigo-800">
                                        <svg class="h-5 w-5 text-white" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                          <path fill-rule="evenodd"
                                                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                                                clip-rule="evenodd"/>
                                        </svg>
                                      </span>
                                    </span>
                                    <span class="ml-4 flex min-w-0 flex-col">
                                      <span class="text-sm font-medium">Select the ESAT</span>
                                      <span class="text-sm text-gray-500">We've selected a medico-social establishment for protected<br>work/jobs, reserved for people with disabilities and aimed at<br>their social and professional integration or reintegration (ESAT) in Paris (France).</span>
                                    </span>
                                </div>
                            </li>
                            <li class="relative pb-10">
                                <div class="absolute left-4 top-4 -ml-px mt-0.5 h-full w-0.5 bg-indigo-600"
                                     aria-hidden="true"></div>
                                <!-- Complete Step -->
                                <div class="group relative flex items-start">
                                    <span class="flex h-9 items-center">
                                      <span class="relative z-10 flex h-8 w-8 items-center justify-center rounded-full bg-indigo-600 group-hover:bg-indigo-800">
                                        <svg class="h-5 w-5 text-white" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                          <path fill-rule="evenodd"
                                                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                                                clip-rule="evenodd"/>
                                        </svg>
                                      </span>
                                    </span>
                                    <span class="ml-4 flex min-w-0 flex-col">
                                      <span class="text-sm font-medium">Initiate the Kickstarter page</span>
                                      <span class="text-sm text-gray-500">All the work on the Kickstarter page has been made.</span>
                                    </span>
                                </div>
                            </li>
                            <li class="relative pb-10">
                                <div class="absolute left-4 top-4 -ml-px mt-0.5 h-full w-0.5 bg-indigo-600"
                                     aria-hidden="true"></div>
                                <!-- Complete Step -->
                                <div class="group relative flex items-start">
                                    <span class="flex h-9 items-center">
                                      <span class="relative z-10 flex h-8 w-8 items-center justify-center rounded-full bg-indigo-600 group-hover:bg-indigo-800">
                                        <svg class="h-5 w-5 text-white" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                          <path fill-rule="evenodd"
                                                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                                                clip-rule="evenodd"/>
                                        </svg>
                                      </span>
                                    </span>
                                    <span class="ml-4 flex min-w-0 flex-col">
                                      <span class="text-sm font-medium">Quickly create a Landing page before the SyliusCon 2023 in Poznan!</span>
                                      <span class="text-sm text-gray-500">Our flights got delayed, so we took the time to create the page you are seeing now!</span>
                                    </span>
                                </div>
                            </li>
                            <li class="relative pb-10">
                                <div class="absolute left-4 top-4 -ml-px mt-0.5 h-full w-0.5 bg-gray-300"
                                     aria-hidden="true"></div>
                                <!-- Current Step -->
                                <div class="group relative flex items-start" aria-current="step">
                                    <span class="flex h-9 items-center" aria-hidden="true">
                                      <span class="relative z-10 flex h-8 w-8 items-center justify-center rounded-full border-2 border-indigo-600 bg-white">
                                        <span class="h-2.5 w-2.5 rounded-full bg-indigo-600"></span>
                                      </span>
                                    </span>
                                    <span class="ml-4 flex min-w-0 flex-col">
                                      <span class="text-sm font-medium text-indigo-600">Get the shipping estimates from the carrier</span>
                                      <span class="text-sm text-gray-500">We are currently working with the ESAT to estimate the shipping<br>for all around the World so everybody will be able to get their own elePHPant!</span>
                                    </span>
                                </div>
                            </li>
                            <li class="relative pb-10">
                                <div class="absolute left-4 top-4 -ml-px mt-0.5 h-full w-0.5 bg-gray-300"
                                     aria-hidden="true"></div>
                                <!-- Upcoming Step -->
                                <div class="group relative flex items-start">
                                    <span class="flex h-9 items-center" aria-hidden="true">
                                      <span class="relative z-10 flex h-8 w-8 items-center justify-center rounded-full border-2 border-gray-300 bg-white group-hover:border-gray-400">
                                        <span class="h-2.5 w-2.5 rounded-full bg-transparent group-hover:bg-gray-300"></span>
                                      </span>
                                    </span>
                                    <span class="ml-4 flex min-w-0 flex-col">
                                      <span class="text-sm font-medium text-gray-500">Launch the Kickstarter page</span>
                                        <span class="text-sm text-gray-500">When we get the shipping estimates we will enter them in our<br>kickstarter page and start to collect from you!<br><b>At this step you will all receive an email telling you that the Kickstarter is live!</b></span>
                                    </span>
                                </div>
                            </li>
                            <li class="relative pb-10">
                                <div class="absolute left-4 top-4 -ml-px mt-0.5 h-full w-0.5 bg-gray-300"
                                     aria-hidden="true"></div>
                                <!-- Upcoming Step -->
                                <a href="#" class="group relative flex items-start">
                                    <span class="flex h-9 items-center" aria-hidden="true">
                                      <span class="relative z-10 flex h-8 w-8 items-center justify-center rounded-full border-2 border-gray-300 bg-white group-hover:border-gray-400">
                                        <span class="h-2.5 w-2.5 rounded-full bg-transparent group-hover:bg-gray-300"></span>
                                      </span>
                                    </span>
                                    <span class="ml-4 flex min-w-0 flex-col">
                                      <span class="text-sm font-medium text-gray-500">Wait a month.</span>
                                      <span class="text-sm text-gray-500">We need to wait a month for everybody to order their elePHPant<br>on Kickstarter. 30 days is enough.</span>
                                    </span>
                                </a>
                            </li>
                            <li class="relative pb-10">
                                <div class="absolute left-4 top-4 -ml-px mt-0.5 h-full w-0.5 bg-gray-300"
                                     aria-hidden="true"></div>
                                <!-- Upcoming Step -->
                                <a href="#" class="group relative flex items-start">
                                    <span class="flex h-9 items-center" aria-hidden="true">
                                      <span class="relative z-10 flex h-8 w-8 items-center justify-center rounded-full border-2 border-gray-300 bg-white group-hover:border-gray-400">
                                        <span class="h-2.5 w-2.5 rounded-full bg-transparent group-hover:bg-gray-300"></span>
                                      </span>
                                    </span>
                                    <span class="ml-4 flex min-w-0 flex-col">
                                      <span class="text-sm font-medium text-gray-500">Order the plush to the factory in China</span>
                                      <span class="text-sm text-gray-500">When we have the number of elephpants that we need to produce<br>we will place an order with the factory.</span>
                                    </span>
                                </a>
                            </li>
                            <li class="relative pb-10">
                                <div class="absolute left-4 top-4 -ml-px mt-0.5 h-full w-0.5 bg-gray-300"
                                     aria-hidden="true"></div>
                                <!-- Upcoming Step -->
                                <a href="#" class="group relative flex items-start">
                                    <span class="flex h-9 items-center" aria-hidden="true">
                                      <span class="relative z-10 flex h-8 w-8 items-center justify-center rounded-full border-2 border-gray-300 bg-white group-hover:border-gray-400">
                                        <span class="h-2.5 w-2.5 rounded-full bg-transparent group-hover:bg-gray-300"></span>
                                      </span>
                                    </span>
                                    <span class="ml-4 flex min-w-0 flex-col">
                                      <span class="text-sm font-medium text-gray-500">Get the elePHPants delivered to Paris, France.</span>
                                      <span class="text-sm text-gray-500">We will ship all the elePHPants to our ESAT partner, they will ensure<br>that all plush arrive to their owner!</span>
                                    </span>
                                </a>
                            </li>
                            <li class="relative pb-10">
                                <div class="absolute left-4 top-4 -ml-px mt-0.5 h-full w-0.5 bg-gray-300"
                                     aria-hidden="true"></div>
                                <!-- Upcoming Step -->
                                <a href="#" class="group relative flex items-start">
                                    <span class="flex h-9 items-center" aria-hidden="true">
                                      <span class="relative z-10 flex h-8 w-8 items-center justify-center rounded-full border-2 border-gray-300 bg-white group-hover:border-gray-400">
                                        <span class="h-2.5 w-2.5 rounded-full bg-transparent group-hover:bg-gray-300"></span>
                                      </span>
                                    </span>
                                    <span class="ml-4 flex min-w-0 flex-col">
                                      <span class="text-sm font-medium text-gray-500">Shipping thousands of elePHPants.</span>
                                      <span class="text-sm text-gray-500">The ESAT will ship all the plush toys to their owner all around the World. It may<br>take some time to perform such operation since we expect to have at least<br>3000 elePHPants to ship!</span>
                                    </span>
                                </a>
                            </li>
                            <li class="relative">
                                <!-- Upcoming Step -->
                                <a href="#" class="group relative flex items-start">
                                    <span class="flex h-9 items-center" aria-hidden="true">
                                      <span class="relative z-10 flex h-8 w-8 items-center justify-center rounded-full border-2 border-gray-300 bg-white group-hover:border-gray-400">
                                        <span class="h-2.5 w-2.5 rounded-full bg-transparent group-hover:bg-gray-300"></span>
                                      </span>
                                    </span>
                                    <span class="ml-4 flex min-w-0 flex-col">
                                      <span class="text-sm font-medium text-gray-500">Everybody is happy ❤️</span>
                                      <span class="text-sm text-gray-500">You all get your elePHPant and you can spread the World about Sylius!</span>
                                    </span>
                                </a>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>

            <div class="bg-white px-6 py-24 sm:py-32 lg:px-8">
                <div class="mx-auto max-w-2xl text-center">
                    <p class="text-base font-semibold leading-7 text-indigo-600">Get them by box of 50 elePHPants!</p>
                    <h2 class="mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">For companies</h2>
                    <p class="mt-6 text-lg leading-8 text-gray-600">
                        If you plan to buy more than 50 elePHPants, for your company or for your community, <a class="text-blue-600 hover:underline" href="https://docs.google.com/forms/d/e/1FAIpQLSdTS0ig_2Dn3MPfRNyD_-OgptH99OAXtTUmeBrF5JG_QNm2DQ/viewform">please fill
                        our form</a> and we will contact you as soon as possible.<br>
                        By filling this form, you will help us to know how many elePHPants we need to produce.
                    </p>
                </div>
            </div>

        </main>

        <!-- Footer -->
        <div class="border-t border-slate-900/5 py-10">
            <img class="mx-auto h-20 w-auto text-slate-900" src="{{ asset('images/elephpant.png') }}">
            <p class="mt-5 text-center text-sm leading-6 text-slate-500">© 2023 Monsieur Biz SAS, Paris, France. All rights
                reserved.</p>
            <div class="mt-16 flex items-center justify-center space-x-4 text-sm font-semibold leading-6 text-slate-700">
                <a href="{{ path('legals') }}">Legals</a>
        </div>
    </div>


{% endblock %}
